<header id="main_navigation" class="clearfix">
  <%= link_to "My Portfolio", root_path, class: "name" %>
  <nav>
    <a href="#">Porfolio</a>
    <%= link_to "Posts", posts_path %>
    <%= link_to "Projects", projects_path %>
  </nav>
</header>