<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table" id="products" data-source="<%= products_url(format: "json") %>" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Released on</th>
    </tr>
  </thead>


</table>

<br>

<%= link_to 'New Product', new_product_path %>
