<div class="row">
  <div class=" col-md-offset-2 col-md-8">
    <h1 class="text-center"><small >Search Tags</small></h1>
    <div>
      <% tag_cloud Event.tag_counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>
</div>
<br>
<%= render 'search' %>
<br>
<%= render @events %>
<br>
<%= link_to 'New Event', new_event_path %>
