<div id="main" role="main" class="wrapper">
  <ul id="pins">
    <% @pins.each do |pin| %>
      <li class="pin">
        <%= link_to(image_tag(pin.image.thumb.url), pin) %>
        <p>
          <strong>Board:</strong><%= pin.board.title %><br/>
          <%= pin.board.title %>
        </p>
      </li>
    <% end %>
    <div><%= paginate @pins %></div>
  </ul>
</div>
<br>
