  <div class="fields form-group ">
    <%= f.label :content, "Answer", class: "control-label col-sm-2" %>
    <div class="col-sm-9">
      <%= f.text_field :content, rows: 3, class:"form-control" %>
    </div>
    <div class="col-sm-1">
      <%= link_to_remove_fields "remove", f %>
    </div>
  </div>


