<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>
<%= link_to 'New Category', new_category_path, id: "new_link",remote: true %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="categories">
    <%= render @categories %>
  </tbody>
</table>

<br>


