// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  img {
    width: auto;
    height: 40px;
  }
}

.js-type-click:hover {
  cursor: pointer;
  color:  #337ab7;
  background-color: #eee;
}

.selected,.selected:hover {
  background-color: #5cb85c;
  color: #FFF;
}