@import "bootstrap";
@import "bootstrap/theme";

.social {
  background: url('logos.png') no-repeat;
  background-size: contain;
  display: inline-block;

  &.facebook, &.facebook:active {
    width: 50px;
    height: 50px;
    background-position: 0 0;
  }
}

#comments {
  max-height: 500px;
  overflow: auto;
}