<h1>StaticPages#home</h1>
<div id="tabs">
  <ul>
    <li><a href="#tab1">Tab 1</a></li>
    <li><a href="#tab2">Tab 2</a></li>
    <li><a href="#tab3">Tab 2</a></li>
  </ul>
  <div id="tab1">Sample text for tab 1</div>
  <div id="tab2">Sample text for tab 2</div>
  <div id="tab3"><p>Drag me!</p></div>
</div>

